params {
    fastq_dir = "/mnt/d/Pipeline/data"
    ref_genome = "/mnt/d/Pipeline/reference/chr22.fasta"
    fastqc_bin = "/home/pallavi/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/home/pallavi/miniconda3/bin/cutadapt"
    bwa_bin = "/home/pallavi/miniconda3/bin/bwa"
    samtools_bin ="/home/pallavi/miniconda3/bin/samtools"
    bcftools_bin ="/home/pallavi/miniconda3/bin/bcftools"
}

process {
    executor = 'local'
}
